body {
  background-color: #16171a;
}

.tp-bar {
  /* background-image: -webkit-linear-gradient(50deg, #FFA500 50%, #F7931A 50%); */
  box-shadow: 0px 2px 4px #212529;
  display: flex;
}

.logo-section {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}

.logo-section h6 {
  margin-left: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.links {
  width: 70%;
  color: white;
  margin-top: 25px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.list li {
  display: inline;
  margin: 2rem;
}

.list li a {
  position: relative;
  display: inline-block;
  padding: 4px 0;
  font-family: 'Poppins', sans-serif;
  color: #ecf0f1;
  text-decoration: none;
  transition: 0.5s;
}

.list li a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: orange;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}


.list li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 120px;
  background-color: #16171a;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  padding: 10px;
}

.dropdown-content li a {
  display: block;
  padding: 5px 0;
  transition: all 0.3s ease;
}

.dropdown-content li a:hover {
  color: #5bc0de;
}

.login-bg {
  color: white;
  text-decoration: none;
}
