.bg {
  height: 100vh;
  /* background: -webkit-linear-gradient(bottom right, #FFA500, #1a1919);  */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg form {
  display: flex;
  margin: 7rem;
}
.left-bar {
  font-family: 'Poppins', sans-serif;

  width: 45em;
  height: 45em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.left-bar h2,
.left-bar p {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.inputs {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

.inputs label{
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
}

.inputs input{
  width: 25em;
  height: 35px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-size: medium;
}

.inputs input:focus {
  outline: none;
  border: 1px solid orange;
  box-shadow: 0 0 5px orange;
}

.enter{
  color: black;
  width: 13rem;
  height: 50px;
  text-align: center;
  background-color: #ff9e47;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
  font-stretch: normal;
}

.enter:hover{
  background-color: #ffa95e;
}

.login-alt{
  display: block;
  text-align: center;
  
}

.login-alt a{
  color: white;
}

.login-alt a:hover{
  color: #ff9e47;
}