.footer {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.sym {
  display: flex;
  margin-right: 5em;
  padding: 50px;
  float: left;
}

.cols {
  display: flex;
  flex-wrap: wrap;
}

.footer .col2,
.footer .col3 {
  flex: 1;
  margin: 0 100px;
}
.footer .liste li {
  list-style-type: none;
  padding: 4px;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: white;
}

.copy img {
  margin-left: 15px;
  width: 30px;
  height: auto;
}

.social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social li {
  margin: 0 20px;
}

.social ul li img{
  width: 32px;
  height: 32px;
}
.footer .social ul li {
  list-style-type: none;
}

.footer .social img {
  width: 32px;
  height: 32px;
}
