.cont {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}

.left {
  width: 50%;
  color: orange;
  font-size: 56px;
  font-family: 'Poppins', sans-serif;
}

.left p {
  color: white;
  font-size: 20px;
  width: auto;
}

.left .mid-button {
  background-color: transparent;
  color: orange;
  border: none;
  font-size: 24px;
  border: 1px solid orange;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
}

.left .mid-button:hover{
  border: 1px solid white;
  color:white;
}

.right img {
  margin-left: 5rem;
  width: 80%;
  height: auto;
}

.conti {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.cent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  text-align: center;
  color: rgb(189, 187, 187);
  font-size: 18px;
}

.cent ul {
  margin-right: 10rem;
}
.cent ul li {
  list-style: none;
  text-align: start;
  margin: 0.5rem;
}

.conti .imgs {
  width: 30%;
}
.conti .imgs img {
  max-width: 100%;
  height: auto;
}

.cent Button {
  background-color: transparent;
  border: none;
  color: white;
  width: 10rem;
  height: 3rem;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: large;
}

.cta {
  display: flex;
  padding: 10px 30px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: white;
  background: orange;
  border-radius: 10px;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fffffe;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}
