.chart {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15em;
    margin-top: 7rem;
  }

.chart-btn{
    color: white;
}

.algorithms{
  display: flex;
  justify-content: center;
  margin-top: 7em;
}

.algorithm{
  width: 450px;
  /* background-color: #212529; */
  border-top: 2px solid #212529;
  border-bottom: 2px solid #212529;
  color:white;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 15px;
  border-radius: 10px;
}

.algorithm h3{
  font-family: 'Poppins', sans-serif;
  color: rgb(161, 161, 161);
}