.chart {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15em;
    margin-top: 7rem;
  }

.chart-btn{
    color: white;
}

.algorithms{
  display: flex;
  justify-content: center;
  margin-top: 7em;
}

.algorithm{
  width: 450px;
  background-color: rgb(224, 148, 5);
  color:white;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 2px;
  border-radius: 10px;
}